# Build results
[Dd]ebug/
[Rr]elease/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

Makefile.Debug
Makefile.Release

*.pdb
*.user
*.pro.user.*

# outputfiles
*.o

# moc_ things
moc_*
ui_*
qrc_minutor.cpp
minutor
