[Desktop Entry]
Type=Application
Name=Minutor
Name[en_US]=Minutor
GenericName=Minecraft Mapping Tool
Exec=minutor
Icon=minutor
Terminal=false
Categories=Utility;Amusement;
